
# sbt specific
dist/*
target/
boot/
lib_managed/
src_managed/
project/boot/
project/project/

# Scala-IDE specific
.scala_dependencies

# data folders
data/in/
data/out/

.tags*
.atom*
.ensime*
.sublime*
.idea*
